@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Poppins, sans-serif;
  background-color: rgb(31, 41, 55);
}

.dropdown_reveal {
  animation: reveal 0.5s;
}

@keyframes reveal {
  0% {
    height: 0px;
  }

  100% {
    height: 312px;
  }
}